
<form class="container" *ngIf="auth.user$ | async as user">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Conferences</a>
    <form class="form-inline">
      {{ user.email }} &nbsp;
      <button class="btn btn-outline-secondary my-2 my-sm-0"
              type="submit" (click)="auth.signOut()">
        Logout
      </button>
    </form>
  </nav>

  <h1 class="float-right">Hi {{ user.firstName }}!</h1>

  <table class="table" *ngIf="(conferences$ | async) as conferences">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">URL</th>
    </tr>
    </thead>
    <tr *ngFor="let conference of conferences">
      <td>{{conference.name}}</td>
      <td>{{conference.status}}</td>
      <td><a [href]="conference.url">{{conference.url}}</a></td>
    </tr>
  </table>

  <form class="form-inline">
    <div class="form-group">
      <label for="conferenceName" class="sr-only">Conference Name</label>
      <input type="text"
             [(ngModel)]="conferenceName"
             class="form-control"
             id="conferenceName"
             name="conferenceName"
             placeholder="Unique name (optional)">
    </div>
    &nbsp;
    <button type="submit"
            (click)="conferenceService.createConference(conferenceName)"
            class="btn btn-primary">Start Conference
    </button>
  </form>
</form>
