<div class="text-center">
  <div>
    <form id="signIn"
          *ngIf="showLogin"
          class="form-signin">
      <img class="mb-4" src="https://3together.us/wp-content/uploads/2020/07/3Together_2color_Logo.svg" alt="" width="172"
           height="72">
      <div class="alert alert-warning" role="alert">
        I have disabled login to this site. <br>
        If you'd like to demo it, please contact me so I can turn the lights back on.
      </div>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email"
             id="inputEmail"
             name="inputEmail"
             class="form-control"
             placeholder="Email address"
             required=""
             autofocus=""
             [(ngModel)]="email"
             autocomplete="off">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password"
             id="inputPassword"
             name="inputPassword"
             class="form-control"
             placeholder="Password"
             required=""
             [(ngModel)]="password"
             autocomplete="off">
      <div class="checkbox mb-3">
        <div class="checkbox mb-3">
          <a href="" (click)="showLogin = false">Create an account</a>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block"
              (click)="auth.passwordSignIn(email, password)"
              type="submit">Sign in
      </button>
    </form>
    <form id="createAccount"
          *ngIf="!showLogin"
          class="form-signin">
      <img class="mb-4" src="https://3together.us/wp-content/uploads/2020/07/3Together_2color_Logo.svg" alt="" width="172"
           height="72">
      <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
      <label for="firstName" class="sr-only">Email address</label>
      <input type="text"
             id="firstName"
             name="firstName"
             class="form-control"
             placeholder="First Name"
             required=""
             autofocus=""
             [(ngModel)]="firstName"
             autocomplete="off">
      <label for="lastName" class="sr-only">Email address</label>
      <input type="text"
             id="lastName"
             name="lastName"
             class="form-control"
             placeholder="Last Name"
             required=""
             [(ngModel)]="lastName"
             autocomplete="off">
      <label for="newEmail" class="sr-only">Email address</label>
      <input type="email"
             id="newEmail"
             name="newEmail"
             class="form-control"
             placeholder="Email address"
             required=""
             autofocus=""
             [(ngModel)]="email"
             autocomplete="off">
      <label for="newPassword" class="sr-only">Password</label>
      <input type="password"
             id="newPassword"
             name="newPassword"
             class="form-control"
             placeholder="Password"
             required=""
             [(ngModel)]="password"
             autocomplete="off">
      <button class="btn btn-lg btn-primary btn-block"
              (click)="auth.createAccount({email: email, firstName: firstName, lastName: lastName, password: password})"
              type="submit">Create
      </button>
      <br/>
      <div class="checkbox mb-3">
        <a href="" (click)="showLogin = true">Need to sign in?</a>
      </div>
    </form>
  </div>
</div>

